<!DOCTYPE html>
<html>
<head>
    <title>Input Form</title>
</head>
<body>
    <h1>Zadejte požadovaná data k projektu participativního rozpočtu</h1>
    <form action="/submit" method="post">
        <label for="name">Název:</label><br>
        <input type="text" id="name" name="name"><br><br>

        <label for="description">Popis:</label><br>
        <input type="text" id="description" name="description"><br><br>

        <label for="public_interest">Veřejný přínos:</label><br>
        <input type="text" id="public_interest" name="public_interest"><br><br>

        <label for="district">Městká část:</label><br>
        <input type="text" id="district" name="district"><br><br>

        <label for="category">Kategorie:</label><br>
        <input type="text" id="category" name="category"><br><br>

        <label for="budget">Rozpočet:</label><br>
        <input type="text" id="budget" name="budget"><br><br>

        <input type="submit" value="Odeslat">
    </form>
</body>
</html>
